<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulär</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <%- include('header.ejs') %>

    <div class="container">
        <div class="content">
            <h1>Lägg till en medlem</h1>
            <%- include('form.ejs') %>
        </div>
    </div>

    <%- include('footer.ejs') %>
    
</body>
</html>