<footer class="flex-row flex-center">
    <div class="footer">
        <ul class="flex flex-col flex-center">
            <li>Hemligstämplad AB</li>
            <li>Hemlig adress 22A | 123 45 Hemlig ort</li>
            <li>hemlig@hemlig.se | 020-123 45 67</li>
        </ul>
    </div>
</footer>