<header>
    <div class="header">
        <ul class="header flex flex-row flex-center">
            <li>
                <a href="/">Startsida</a>
            </li>
            <li>
                <a href="/members">Medlemslista</a>
            </li>
            <li>
                <a href="/create">Formulär</a>
            </li>
        </ul>
    </div>
</header>